#container
{
	margin: 0 auto;
	width: 800px;
	background:#fff;
}

#header
{
	background:#ccc;
	padding: 20px;
      	font-size: 200%;
        font-weight: bold;
	width: 800px;
}

#header h1 { margin: 0; }


#navigation a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}


#content
{
	clear: left;
	padding: 10px;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
  background:#ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

